.navcover {
    top: 0;
    left: 0;
    height: 82px;
    width: 100vw;
    display: flex;
    position: fixed;
    z-index: 9;
    align-items: center;
    background-color: rgba(20, 0, 56, 0.389);
    backdrop-filter: blur(10px);
    transition: all 0.2s;
}
.sideicon {
    display:none;
}
.navcoverback{
position: relative;
height: 82px;
    width: 100vw;
    display: flex;
    position: fixed;
    z-index: 6;
    overflow: hidden;
   align-items: center;

}
.backimage {
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: hidden;
    transform: scale(1.15);
    border-radius: 50px;
}

.backimage img {
    height: 100%;
    width: 100%;
    transition: all 0.7s;
}
.portfoliocover {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 1rem;    
    transition: all 0.2s;
border:1px solid white;
}

p {
    font-size: 1.9rem;
    margin-left: 0.9rem;
    width: 11rem;
    font-weight: 700;
    z-index: 4;
    overflow: hidden;
    display: inline-block;
    position: relative;
    color: transparent;
    background: linear-gradient(90deg, rgb(255, 255, 255) 38%, rgb(255, 0, 170) 10%);
    background-clip: text;
    -webkit-background-clip: text;
    cursor: pointer;
}
.rightnav {
    height: 69px;
    width: 482px;
    margin-left: 25%;
    display: flex;
    justify-content: space-evenly;
    font-weight: 500 ;
    font-family: "Ubuntu", sans-serif;
}

.home {
    width: 96px;
display: flex;  
justify-content: center;
align-items: center;
color: transparent;
text-decoration: none;
    color: rgb(255, 255, 255);
    background: linear-gradient(180deg, #ffffff 49%,#ffffff 50%);
    background-clip: text;
    -webkit-background-clip: text;
    cursor: pointer;
    transition: all 0.5s;
        height: 100%;
        border-bottom: 2px solid rgba(255, 255, 255, 0);

}

.home:hover{
    border-bottom: 2px solid rgb(0, 208, 255);
        color: #00d0ff;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.055) 0%, rgba(140, 140, 140, 0.055) 34%, rgba(255, 255, 255, 0.121) 53%);
}
.about {
    width: 96px;
    display: flex;
        justify-content: center;
        align-items: center;
    color: transparent;
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 49%,rgb(255, 255, 255)  50%);
    background-clip: text;
    -webkit-background-clip: text;
    cursor: pointer;
    text-decoration: none;
        color: rgb(255, 255, 255);
    transition: all 0.5s;
    height: 100%;
    border-bottom: 2px solid rgba(255, 255, 255, 0);
}
.about:hover {
    border-bottom: 2px solid rgb(0, 208, 255);
        color: #00d0ff;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.055) 0%, rgba(140, 140, 140, 0.055) 34%, rgba(255, 255, 255, 0.121) 53%);
}
.skill {
    width: 96px;
    display: flex;
        justify-content: center;
        align-items: center;
    color: transparent;
    text-decoration: none;
        color: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 49%, rgb(255, 255, 255) 50%);
    background-clip: text;
    -webkit-background-clip: text;
    cursor: pointer;
    transition: all 0.5s;
        height: 100%;
        border-bottom: 2px solid rgba(255, 255, 255, 0);}
 .skill:hover {
    border-bottom: 2px solid rgb(0, 208, 255);
    color: #00d0ff;
background: linear-gradient(180deg, rgba(0, 0, 0, 0.055) 0%, rgba(140, 140, 140, 0.055) 34%, rgba(255, 255, 255, 0.121) 53%);       }
.project {
    width: 96px;
    display: flex;
        justify-content: center;
        align-items: center;
    color: transparent;
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 49%, rgb(255, 255, 255)  50%);
    background-clip: text;
    -webkit-background-clip: text;
    cursor: pointer;
    transition: all 0.5s;
    text-decoration: none;
        color: rgb(255, 255, 255);
        height: 100%;
        border-bottom: 2px solid rgba(255, 255, 255, 0);
    }
    .project:hover {
        border-bottom: 2px solid rgb(0, 208, 255);
      color: #00d0ff;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.055) 0%, rgba(140, 140, 140, 0.055) 34%, rgba(255, 255, 255, 0.121) 53%);   }

.contact {
    width: 96px;
    display: flex;
        justify-content: center;
        align-items: center;
    color: transparent;
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 49%, rgb(255, 255, 255)  50%);
    background-clip: text;
    -webkit-background-clip: text;
    cursor: pointer;
transition: all 0.5s;
text-decoration: none;
    color: rgb(255, 255, 255);
    height: 100%;
    border-bottom: 2px solid rgba(255, 255, 255, 0);
}
.contact:hover {
    border-bottom: 2px solid rgb(0, 208, 255);
    color: #00d0ff;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.055) 0%, rgba(140, 140, 140, 0.055) 34%, rgba(255, 255, 255, 0.121) 53%);
}



@media (max-width: 923px) {
    .rightnav {
            margin-left: auto;
        }
                .sideitem {
                    display: none;
                }
}
@media (max-width: 728px) {
    .rightnav {
    display:none;
    }
.sideicon{
    display:block;
       margin-left:auto;  
       margin-right: 2.5rem; 
       height:50px;
       width:70px;
       display:flex;
       justify-content: center;
       align-items: center;
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
    box-shadow: inset 0 0 10px rgb(0, 208, 255);
       border:1px solid rgb(0, 208, 255);
}
.icon{
    color:rgb(212, 0, 141);
    transform: scale(1.5);
    transition: all 0.4s ease-in-out;
}

.sideitem{
    height: 10rem;
        width: 100vw;
        border: 0.5px solid rgb(0, 208, 255);
           position: fixed;
           border-top: none;
    margin-top: 5rem;
    z-index: 2;
        border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    backdrop-filter: blur(6px);
    background-color: rgba(0, 208, 255, 0.093);
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-direction: column;
    box-shadow: inset 0 0 10px rgb(0, 208, 255);
padding-top: 1rem;
padding-bottom: 1rem;
transition: all 1s ease-in-out;

}
.iconwhite{
    color: rgb(255, 255, 255);   
    transform: scale(1.6);
}
.item{
text-decoration: none;
color: rgb(255, 255, 255);
}
}


@media (max-width: 500px) {
    .navcover {
            height: 45px;
            width: 94vw;
            height: 82px;
                width: 100vw;
        }
               
        .sideicon {
            height: 35px; 
            width: 39px;
            margin-right: 1.2rem;
               }
    
        .navcoverback {
            height: 45px;
            width: 94vw;
            margin-top: 3vh;
        }
    
        .portfoliocover {
            height: 45px;
        }
    .icon {

    color: rgb(212, 0, 141);
         transform: scale(1);
transition: all 0.4s ease-in-out;    
   }
   .iconwhite {
       color: rgb(255, 255, 255);
       transform: scale(1);
   }
      
 .item {
    font-size: 0.7rem;
}


}